* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Open Sans, Arial, san-serif;
  overflow-x: hidden;
  background-color:rgb(252, 219, 197);
}

nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom:0;
  width: 120px;
  background-color: #6b7d9e;
  transform: translate3d(-120px, 0, 0);
  transition: transform 0.4s ease;
}
.activeNav nav {
  transform: translate3d(0,0,0);
}

nav ul {
  list-style: none;
  margin-top: 100px; 
}
nav ul li a {
  text-decoration: none;
  font-size: 22px;
  display: block;
  text-align: center;
  color: #fff;
  padding: 10px 0;
}
nav ul li a:hover {
background-color: #7e8ca7;
}

.navToggleBtn {
  display: block;
  position: absolute;
  left: 120px;
  width: 40px;
  Height: 100%;
  background-color:#7e8ca7;
  background-image: url("./img/hamburger.png");
  background-repeat: no-repeat;
  background-size: 90%;
}

.container {
  transition: transform 0.4s ease;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeNav .container {
  transform: translate3d(120px,0,0);
}

/* the flashcard part */

.cardContainer{
  margin-top: 7%;
  width: 820px;
  height: 520px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out; /**/
  transform-style: preserve-3d;/**/
  
}
/* .card-container:hover .card { 
  transform: rotateY(180deg);
} */

.card figure {
  width: 100%;
  height: 100%;
  position: absolute; /*puts both figures on top of eachother*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    /*to make button do what I want, move it up right */
  border-radius: 15px;
}

.card .front {
 background:#d6a664;
 color: white;
 text-align: center;
 
}

.card .back {
  background: #d6a664;
  color:white;
  text-align: center;
  transform: rotateY(180deg);
  
}
.soundBtn {
  width:60px;
  height:40px; 
  border: none;
  background-color:#d6a664;  
  align-self: flex-end;
  margin-right: 30px;
  margin-bottom: 30px;
  color:#997645;;
  border: 2px solid #997645;
  border-radius: 2px;
  
}
.soundBtn:hover {
  color:#916f40;
  border: 3px solid #916f40;
  box-shadow: 3px 3px  #916f40;
  cursor: pointer;
}
.hidden{
  display: none; 
  /*better than visibility: hidden, as it removes the element and the space it*/
}

.btnContainer{ 
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: transform 0.4s ease;
}
.activeNav .btnContainer {
  transform: translate3d(120px,0,0);
}
.ctrlBtn {
  background-color: #6b7d9e;
  color:whitesmoke;
  font-size: 15px;
  text-align: center;
  width:150px;
  height:33px;
  border-radius: 5px;
}
/* test.html page */

.testItem{
  margin-top: 10px;
}

input{
  /* margin-top: 20px; */
  width: 550px;
  height: 30px;
  font-size: 22px;
}
.resultBtn {
  margin-top: 20px;
  background-color:#6b7d9e;
  color: white;
  text-align: center;
  font-size: 22px;
  width:170px;
  height:50px;
  border-radius: 5px;
}
.resultBtn:hover {
  background-color:#576580;
}

#answerResult {
  margin-top: 10px;
  font-size: 22px;
}